{% extends "encoder/base.html" %}
{% block content %}
<script async defer src="https://buttons.github.io/buttons.js"></script>
<center>
    <h1 class="display-4 mt-5">About This Project</h1>
    <div class="container">
        <p>
            This project is intends to simulate the different Line Encoding Schemes used in real world.
            A line code is the code used for data transmission of a digital signal over a transmission line. This process of coding is chosen so as to avoid overlap and distortion of signal such as inter-symbol interference.
            Read More about types of Line Coding Schemes used in this project :
            <ul>
                <li><a href="https://en.wikipedia.org/wiki/Unipolar_encoding">Unipolar</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Non-return-to-zero#Unipolar_non-return-to-zero_level">NRZ-L</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Non-return-to-zero#NRZI">NRZ-I</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Return-to-zero">Polar RZ</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Manchester_code">Manchester</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Differential_Manchester_encoding">Differential Manchester</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Bipolar_encoding#Alternate_mark_inversion">AMI</a></li>
            </ul>
        </p>
        <br>
        <span>Support This Project!</span>
        <center class='mt-25'>
            <span><a class="github-button" href="https://github.com/ekaksher/Line-Encoder-Decoder" data-icon="octicon-star" aria-label="Star ekaksher/Line-Encoder-Decoder on GitHub">Star</a></span>
            <span><a class="github-button" href="https://github.com/ekaksher/Line-Encoder-Decoder/fork" data-icon="octicon-repo-forked" aria-label="Fork ekaksher/Line-Encoder-Decoder on GitHub">Fork</a></span>
            </center>
    </div>
   </center>
{% endblock content %}