{% extends "encoder/base.html" %} {%block content %}

<script>
  $(document).ready(function () {
    $("#id_custom").click(function () {
      if ($(this).is(":checked")) {
        $("#id_bit_size").attr("disabled", "disabled");
        $("#id_custom_bits").removeAttr("disabled");
      } else {
        $("#id_custom_bits").attr("disabled", "disabled");
        $("#id_bit_size").removeAttr("disabled");
      }
    });
  });
</script>
<center>
  <h1 class="display-4 mt-5">Encoding Digital Data</h1>
  <form method="POST">
    {% csrf_token %}
    <div class="row">
      <span id="custom_bits">
        <label for="state">Enter custom signale : </label>
        {{form.custom_bits}}
      </span>

      <div id="custom " class="mt-25">
        {{form.custom}} I would like to enter signal manually.
      </div>
      <div id="bit_size" class="mt-25">
        Enter number of bits : {{form.bit_size}}
      </div>
      <div id="schemes" class="mt-25">
        Select Encoding Scheme {{form.scheme_choice}}
      </div>
    </div>
    <button type="submit" class="btn btn-success mt-25">Submit</button>
  </form>
</center>

{% endblock content %}
